.Rproj.user
autom4te.cache
.Rhistory
config.log
config.status
config.guess
config.sub
configure~
install-sh
ltmain.sh
_codeql_detected_source_root
windows
inst/proj
inst/doc
src-i386
src-x64
.DS_Store
revdep
